@model ProfileUpdateDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<h1>Profil Güncelleme Sayfası</h1>
<br />
<form method="post" class="form-group" enctype="multipart/form-data">
    @*enctype:Dosya ekleme işlemleri için*@
    <div class="col-8">
        <label>Adınız:</label>
        <input type="text" asp-for="Name" class="form-control"/>
        <br />
        <label>Soyadınız:</label>
        <input type="text" asp-for="Surname" class="form-control"/>
        <br />
        <label>E-mail:</label>
        <input type="email" asp-for="Email" class="form-control"/>
        <br />
        <label>Telefon Numarası:</label>
        <input type="text" asp-for="PhoneNumber" class="form-control"/>
        <br />
        <label>Şifreniz:</label>
        <input type="password" asp-for="Password" class="form-control" />
        <br />
        <label>Şifre Tekrar:</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control"/>
        <br />
        <label>Resim Seçiniz:</label>
        <input type="file" asp-for="Image" class="form-control" style="display:inline-block; inline-size:300px" />
        <br />
        <br />
        <button class="btn btn-success" style="display:inline-block; inline-size:200px">Kaydet</button>
    </div>
</form>

